@model ADSBackend.Models.AddAssignment2

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AddAssignment2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Difficulty2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Difficulty2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Materials2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Materials2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.timeNeeded2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.timeNeeded2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateOfEvent2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateOfEvent2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateChoice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateChoice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.timeChoice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.timeChoice)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
