@model ADSBackend.Models.AddAssignment2

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AddAssignment2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Event2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Difficulty2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Difficulty2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Materials2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Materials2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.timeNeeded2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.timeNeeded2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateOfEvent2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateOfEvent2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dateChoice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dateChoice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.timeChoice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.timeChoice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
