@model IEnumerable<ADSBackend.Models.AddAssignment2>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Class2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materials2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timeNeeded2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateOfEvent2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateChoice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.timeChoice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Class2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materials2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeNeeded2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateOfEvent2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateChoice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeChoice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
