@model IEnumerable<ADSBackend.Models.UserNotes>

@{
    ViewData["Title"] = "Index";
}
<div class="ibox">
    <div class="ibox-title">
        <h2>Notes</h2>
    </div>
</div>

<p>
    <a asp-action="Create" class="btn btn-default">
        <span class="fa fa-plus"></span> Add Note
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.noteName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.noteContent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.noteName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.noteContent)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserNotesId" class="btn btn-default">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.UserNotesId" class="btn btn-default">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.UserNotesId" class="btn btn-default">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
