@model IEnumerable<ADSBackend.Models.AddPersonalEvent>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PNameOfEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateOfEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PDateOfEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PTimeNeeded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pdescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PNameOfEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateOfEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PDateOfEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PTimeNeeded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pdescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
