@model ADSBackend.Models.AdminViewModels.UserViewModel

@{
    ViewData["Title"] = "UpdateAssignment";
}

<h2>UpdateAssignment</h2>

<div>
    <h4>UserViewModel</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.AssignmentName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AssignmentName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeChoice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeChoice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateChoice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateChoice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
